@charset "utf-8";

/*------------------------------------------------------------

	File_name    : printer.css
	Description  : takahama system printer(PDF) stylesheet
	
				   A4(210*297mm) 
				   margin 20mm
				   96dpi
				   2.54cm/inch
	
	Version      : 0.1
	The date     : 2010.04.21
	Last up date : 2010.04.21
	
-------------------------------------------------------------- */




/*		共通
===============================================================*/
*{
	font-family: "ＤＦ平成明朝体W3","ＭＳ 明朝",sans-serif;
	margin: 0px;
	padding: 0px;
}
div, table, th, td, caption, a, p, span, ins, pre, ul, ol, li, dl, dt, dd, form, address, embed, object {
	font-size: 12px;
	line-height: 1.6;
	list-style-type: none;
}
.note {
	font-size: 100%;
	color: #c33;
	border: none;
}
.toleft {
	text-align: left;
}
.toright {
	text-align: right;
}
.centering {
	text-align: center;
}
.pl-1 {
	padding-left: .25rem;
}
.pl-2 {
	padding-left: .5rem;
}
.pl-3 {
	padding-left: 1rem;
}
.pr-1 {
	padding-right: .25rem;
}
.pr-2 {
	padding-right: .5rem;
}
.pr-3 {
	padding-right: 1rem;
}
.ml-1 {
	margin-left: .25rem;
}
.ml-2 {
	margin-left: .5rem;
}
.ml-3 {
	margin-left: 1rem;
}
.mr-1 {
	margin-right: .25rem;
}
.mr-2 {
	margin-right: .5rem;
}
.mr-3 {
	margin-right: 1rem;
}




/*		テンプレート(print)
===============================================================*/
.container {
	position: relative;
	width: 640px;
	height: 970px;
	border: 1px solid #000;
}
textarea {
	font-size: 10px;
	border: 1px solid #fff;
	resize: none;
}




/*		テンプレート
===============================================================*/
.heading1 {
	clear: both;
	width: 180px;
	margin: 0px auto 20px;
	text-align: center;
	border-bottom: 2px solid #000;
}
.heading-receipt {
	clear: both;
	margin: 0px auto 20px;
	text-align: center;
	background-color: #555;
	color: #fff;
}
.contents {
	clear: both;
	padding-top: -1rem;
}
.contents p {
	padding: 0px 10px;
}
.contents .total_price_wrapper {
	font-size: 140%;
	font-weight: bold;
}
.contents .total_price_wrapper ins {
	font-size: 120%;
	font-weight: bold;
	color: #003f75;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
table caption {
	border: 1px solid #a9a9a9;
	background: #efefef;
}
table td {
	padding: 0px 20px 0px 10px;
}




/*		納品先
===============================================================*/
.customer_info {
	float: left;
	width: 290px;
}
.customer_info p {
	padding: 2px 10px;
}
.customer_info p ins {
	font-size: 140%;
}




/*		自社情報
===============================================================*/
#issuer {
	float: right;
	width: 280px;
	margin: 5px 0px 10px 0px;
	padding-bottom: 1rem;
	background-image: url(/common/img/square-mark.png);
	background-position: right bottom;
	background-size: 200px 200px;
	background-repeat: no-repeat;
}
.company_logo {
	background-image: url(/common/img/footer/428logo.png);
	background-position: center 24px;
	background-size: 200px 112px;
	background-repeat: no-repeat;
}




/*		金額表
===============================================================*/

/* 見積・納品・請求 */
table.estimation,
table.invoice {
	width: 100%;
	border: 1px solid #000;
}
table.estimation th,
table.invoice th {
	padding: 2px 10px 0px;
	text-align: center;
	/*
	background: #efefef;
	*/
	border: 1px solid #a9a9a9;
}
table.estimation td,
table.invoice td {
	font-size: 110%;
	text-align: right;
	padding: 0px 5px 0px 10px;
	border: 1px solid #a9a9a9;
}
table.estimation tfoot td,
table.invoice tfoot td {
	text-align: right;
	font-size: 120%;
	font-weight: bold;
	/*
	color: #003f75;
	*/
}
table.estimation tfoot th,
table.invoice tfoot th {
	font-size: 120%;
	font-weight: bold;
	/*
	color: #003f75;
	*/
}
table.estimation tr.rowseparate td,
table.invoice tr.rowseparate td {
	border-bottom: 2px double #a9a9a9;
}


/* 請求金額欄 */
table.pricing {
	width: 100%;
	margin: 10px 0px;
}
table.pricing th {
	padding: 2px 10px 0px;
	border: 1px solid #a9a9a9;
}
table.pricing th {
	text-align: center;
	/*
	background: #efefef;
	*/
}
table.pricing td {
	font-size: 120%;
	text-align: right;
	border-bottom: 2px solid #a9a9a9;
}
table.pricing td.curbill {
	font-size: 140%;
	font-weight: bold;
	/*
	color: #003f75;
	*/
}