@charset "euc-jp";

/*------------------------------------------------------------

2009 takahama web css

	File_name	: guidance.css
	Description	: usage guidance
	
	log
	2012.01.18	: created
	2014.12.19	: キャンセル料の説明を追加
	2018.1.26	: 割引ページ作成
-------------------------------------------------------------- */

/*		common
===============================================================*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
button,
textarea,
select,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 10px;
}

ul.pan {
	height: auto;
	margin: 20px 5px 20px 5px;
	font-size: 0.8em;
}

ul.pan li {
	display: inline;
	padding-right: 4px;
	line-height: 2em;
}

ul.pan li:first-child:before {
	content: "";
	padding-right: 0;
}

ul.pan li:before {
	content: ">";
	padding-right: 10px;
	vertical-align: middle;
}

ul.pan li a,
ul.pan li span {
	vertical-align: middle;
	text-decoration: none;
}

img {
	vertical-align: middle;
	border: 0;
}

#container {
	width: 100%;
	top: 15px;
	margin: 0px auto;
	padding: 0px 0px 20px;
	z-index: 0;
	position: relative;
	margin-top: 110px;
}

.contents {
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
	float: none;
	padding: 0 10px;
}

#main .headLine01 {
	margin-bottom: 0;
	color: #383838;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.8;
	border-bottom: none;
	text-align: left;
	padding-top: 10px;
}


/*		new
===============================================================*/

h4 {
	margin: 40px 0 5px 0;
	font-size: 16px;
	clear: both;
	font-weight: bold;
}

.lines-on-sides {
	margin: 40px 0 20px 0;
}

p {
	margin: 0;
}

.towel_header {
	margin-top: 20px;
}

.content {
	display: flex;
	margin: 0 20px;
}

.content_right {
	width: 40%;
}

.discount_img {
	margin-right: 40px;
	width: 50%;
	height: 50%;
}

h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 40px 0 12px 0;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 0 30px;
}

.off {
	margin-top: 10px;
	clear: both;
	font-size: 28px;
	font-weight: bold;
	color: #dc0000;
}

.member {
	display: flex;
}

.mebmer_all {
	display: flex;
}

.limit_img {
	margin: 10px 20px 15px 0;
	width: 90%;
}

.limit_right {
	width: 170%;
	margin-top: 75px;
	margin-left: -10px;
}

.link {
	text-align: right;
}

.link a {
	margin: 20px 90px 0 0;
	color: #4a82c6;
	text-align: right;
	text-decoration: underline;
}

/*		幅
===============================================================*/

@media screen and (max-width: 768px) {
	.content {
		display: block;
		margin: 0 20px;
	}
	.discount_img {
		margin-right: 40px;
		width: 100%;
	}
	.content_right {
		width: 100%;
	}
	h4 {
		margin: 20px 0 5px 0;
		font-size: 16px;
		clear: both;
		font-weight: bold;
	}
	.member {
		display: flex;
		text-align: center;
	}
	.mebmer_all {
		display: block;
	}
	.limit_img {
		margin: 10px 20px 15px 20px;
		width: 90%;
	}
}
