Options -Indexes
AddType application/x-httpd-php .php .htm .html
DirectoryIndex index.php
order deny,allow

// 2018-11-26
// ブランド一覧のファイル名変更
RewriteCond %{QUERY_STRING} (^|&)tag=([^&]+)($|&)
RewriteRule ^$ /items/brand.php?tag=%2 [R=302]
