@charset "utf-8";

/*------------------------------------------------------------

	File_name	: login.css
	log			: 2013-06-07	created

-------------------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, button, textarea, select, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

#container {
	width: 100%;
	margin-top: 125px;
}

#container:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	line-height: 0;
	font-size: 0;
	clear: both;
}
.contents {
	width: 100%;
	float: none;
	margin-top: 20px;
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}
.toolbar {
	width: 100%;
	height: 50px;
	margin-bottom: 80px;
	padding-bottom: 30px;
	z-index: 1000;
	margin-top: 30px;
}
.toolbar .toolbar_inner {
	height: 48px;
	text-align: center;
}
.clearfix {
	display: block;
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	line-height: 0;
	font-size: 0;
	clear: both;
}
.toolbar .toolbar_inner h1 {
	display: inline;
}
h1 {
	font-size: 40px;
	font-weight: bold;
	color: #333;
}
.section {
	width: 610px;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
	height: 260px;
	margin-bottom: 50px;
}


/*		login form
===============================================================*/

#loginform_wrapper {

/*
	position: fixed;
	top: 50%;
	left: 50%;
*/
	width: 364px;
	height: 400px;
	/*
	margin: 30px auto;
	margin-top: -163px;
	margin-left: -182px;
	background: url(../img/form_bg.png) no-repeat;
	z-index: 1020;
	*/
}

#loginform_wrapper form {
	width: auto;
	/*margin: 30px;*/
}

#loginform_wrapper form label {
	display: block;
	font-weight: bold;
	color: #777;
}

#loginform_wrapper form input {
	width: 300px;
	margin-bottom: 30px;
	font-size: 18px;
	text-align: center;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

#loginform_wrapper form .note {
	margin-top: -1em;
	margin-right: 5px;
	text-align: right;
}

#loginform_wrapper form .note a {
	font-size: 12px;
	text-decoration: underline;
	color: #999;
}

#loginform_wrapper form .note a:hover {
	color: #07e;
}

#loginform_wrapper form .btn_wrap {
	position: relative;
	width: 300px;
	margin-top: 30px;
}

#login_button {
	width: 100%;
	height: 39px;
	cursor: pointer;
	background-color: #c2aa95;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #898989;
	color: #7d410d;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 40px;
}
#login_button .fa-sign-in{
	font-size: 1.1rem;
	padding-right: 10px;
}

.resend_pass a{
	font-size: .8rem;
	text-decoration: underline;
}

#login_button p {
	padding: 9px 10px 10px 14px;
	font-weight: bold;
	font-size: 16px;
}

#login_button:hover {
	background-position: 0px -39px;
}

#loginform_wrapper form .btn_wrap a {
	position: absolute;
	display: block;
	top: 50%;
	right: 0;
	margin-top: -13px;
	padding: 2px 5px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}

.txtttl{
	text-align:center;
}

.txtttl .red_txt {
	color: #dc0000;
}
.form_m input[type="text"], .form_m input[type="email"], .form_m input[type="number"], .form_m input[type="tel"], .form_m input[type="date"], .form_m input[type="password"], .form_m textarea {
	padding: 5px 0;
}
label, select, button, input[type="button"], input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
}
a {
	color: #1055e0;
	text-decoration: none;
}
.section p {
	margin-bottom: 1em;
	clear: both;
}

@media screen and (max-width: 768px){
#loginform_wrapper {

/*
	position: fixed;
	top: 50%;
	left: 50%;
*/
	width: 100%;
	height: 100%;
	/*
	margin-top: -163px;
	margin-left: -182px;
	background: url(../img/form_bg.png) no-repeat;
	z-index: 1020;
	*/
}

#loginform_wrapper form label {
	display: block;
	color: #777;
	font-size:16px;
}

#loginform_wrapper form input {
	width: 250px;
	height: 35px;
	text-align: center;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

#loginform_wrapper form a {
	font-size: 16px;
}

#loginform_wrapper form {
	width: auto;
	text-align: center;
}

#loginform_wrapper form .btn_wrap {
	position: relative;
	width: 100%;
}

#loginform_wrapper form .btn_wrap a {
	position: absolute;
	display: block;
	top: 50%;
	right: 0;
	margin-top: -13px;
	padding: 2px 5px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}

}
