@charset "utf-8";

/*------------------------------------------------------------

File_name	: my_account.css
log			: 2017-12-13	created

-------------------------------------------------------------- */

.contents .section h2#topttl {
	text-align: center;
	font-size: 24px;
	display: block;
	background-color: #e2710a;
	height: 30px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 20px;
	color: #ffffff;
	padding: 2px;
}

.section {
	width: 80%;
	margin: 20px auto 40px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
	height: auto;
}

.topsec {
	overflow: hidden;
	border-color: #dc0000;
	padding: 10px 10px 0px 30px;
	width: 90%;
}

.clearfix .section {
	float: left;
	width: 250px;
	margin: 20px 25px 50px;
}

.section .inner {
	padding: 15px 10px;
}

.section p {
	margin-bottom: 10px;
	clear: both;
	margin-top: 10px;
}

.section ul li:first-child {
	display: inline-block;
	float: left;
	width: 45%;
}

.edit_profile:hover {
	background: white;
	color: #e2710a;
	text-decoration: none;
	border-radius: 2px;
	border: 2px solid #e2710a;
}


/*		forms
===============================================================*/


/* type PC */

.form_table tbody th,
.form_table tbody td {
	padding: 10px 20px;
	background: #FFF;
	box-shadow: 0 2px #fff;
}

.form_table thead th {
	font-weight: bold;
	color: #323232;
	background: #eae7d2;
}

.form_table tbody th {
	font-weight: bold;
	color: #323232;
	background: #FFF;
	text-align: left;
}

#history_table tbody th {
	font-weight: bold;
	color: #323232;
	background: #f3f4f2;
	border-left: 1px solid #fff;
	text-align: center;
}

.form_table tfoot tr:first-child th,
.form_table tfoot tr:first-child td {
	padding-top: 1.5em;
	padding-left: 30px;
	border: none;
}

.form_table tbody th {
	/*text-align: left;*/
	font-weight: bold;
	background: #eceae8;
}

.form_table input[type="text"],
.form_table input[type="email"],
.form_table input[type="number"],
.form_table input[type="tel"],
.form_table input[type="date"],
.form_table input[type="password"],
textarea {
	padding: 5px 0;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
	font-size: 16px;
	height: 18px;
}

textarea {
	width: 290px;
	height: 5em;
	scroll: auto;
}


/* 必須 */

.form_m .lbl ins {
	margin-left: 2em;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background: #ff5959;
	border: 1px solid #e66;
	border-radius: 5px;
}

.form_m .wrap {
	padding: 5px 15px;
	border-top: 1px solid #e0e0e0;
	box-shadow: 0 2px #fff inset;
}

.form_m input[type="text"],
.form_m input[type="email"],
.form_m input[type="password"] {
	width: 98%;
}

.form_m textarea {
	width: 98%;
	height: 5em;
	scroll: auto;
}

.form_m input[type="text"],
.form_m input[type="email"],
.form_m input[type="number"],
.form_m input[type="tel"],
.form_m input[type="date"],
.form_m input[type="password"],
.form_m textarea {
	padding: 5px 0;
}


/* table extend */

.form_table tfoot td {
	font-weight: normal;
}

.modal-content {
	width: 50%;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
}

#btn-close-modal {
	padding-top: 20px;
	font-size: 1.2em;
	text-align: center;
	cursor: pointer;
}

.fa-chevron-left,
.fa-angle-down {
	padding-right: 10px;
}

@media screen and (max-width: 768px) {
	/*------------------MENU------------------*/
	.contents .section h2#topttl {
		text-align: center;
		font-size: 18px;
		display: block;
		background-color: #e2710a;
		height: 35px;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
		border-radius: 20px;
		color: #ffffff;
		padding-top: 10px;
		font-weight: normal;
	}
	.toolbar .toolbar_inner h1 {
		display: inline;
		margin-left: 15px;
	}
	.section .addtxt {
		width: 95%;
		margin: 0 auto;
		margin-bottom: 10px;
		text-align: left;
	}
	.pagetitle {
		margin-top: 50px;
	}
	.toolbar {
		background: none;
	}
	/*------------------TABLE------------------*/
	.section p {
		text-align: left;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.form_table tbody th,
	.form_table tbody td {
		padding: 0px;
		background: #FFF;
		border-bottom: 1px solid #e0e0e0;
		box-shadow: 0 2px #fff;
	}
	.form_table tbody th {
		font-weight: bold;
		color: #323232;
		background: #fff;
		border-bottom: 1px solid #e0e0e0;
		text-align: left;
		background: #eceae8;
	}
}

#history_table tbody th {
	font-weight: bold;
	color: #323232;
	background: #f3f4f2;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}


/*		profile and pass form
===============================================================*/

.form_table.me tbody td,
.form_table.me tbody th {
	border-left: none;
	padding: 10px 50px;
}

#pass_table tbody input {
	width: 160px;
	font-size: 16px;
	height: 18px;
}

#profile_table tbody input {
	width: 200px;
	font-size: 16px;
	height: 18px;
}

.form_table.me input[type="file"] {
	font-size: 16px;
}

input.edit_profile {
	text-align: center;
	border: none;
}


/*		address form
===============================================================*/

.form_table.addr tbody th {
	width: 120px;
	padding: 10px 20px;
	border: none;
}

.form_table.addr tbody td {
	border-left: none;
	padding: 10px 20px;
}

.form_table.addr tbody input {
	height: 18px;
	font-size: 16px;
}


/*		delivery form
===============================================================*/

.form_table.deli {
	border: none;
}


/*
.form_table.deli tbody th {
	width: 120px;
	padding: 15px 50px;
}
*/

.form_table.deli tbody td {
	border-left: none;
	padding: 10px 20px;
}

.form_table.me tbody .ttl_left {
	background: #fff;
	border: none;
}

.form_table.addr tbody .ttl_left {
	background: #fff;
	border: none;
}

.form_table.deli tbody .ttl_left {
	background: #fff;
	border: none;
}

.form_table.deli1 tbody .ttl_left {
	background: #fff;
	border: none;
}


/*		delivery1 form
===============================================================*/

.form_table.deli1 tbody th {
	width: 120px;
	padding: 10px 20px;
	border: none;
}

.form_table.deli1 tbody td {
	border-left: none;
	padding: 10px 20px;
}

.form_table.deli tbody input {
	height: 18px;
	font-size: 16px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}


/*		input text
===============================================================*/

#zipcode1 {
	width: 100px;
}

#addr0 {
	width: 100px;
	text-align: left;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

#addr1 {
	width: 350px;
	padding-left: 5px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

#tel {
	width: 200px;
	padding-left: 5px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

@media screen and (max-width: 768px) {
	.form_table.me tbody th {
		width: 80px;
		font-size: 1rem;
	}
	.form_table.addr tbody th,
	.form_table.deli tbody th,
	.form_table.deli1 tbody th {
		width: 80px;
		font-size: 1rem;
		padding: 10px 20px;
	}
	#addr1 {
		width: 90%;
		padding-left: 5px;
	}
	#pass_table tbody input,
	#addr_table tbody input,
	#deli_table tbody input,
	#deli1_table tbody input {
		font-size: 12px;
		height: 18px;
		margin: 3px;
	}
}

@media all {
	.modal-content {
		width: 100%;
		margin: 0 auto;
		background: #fff;
		padding: 10px;
	}
	.featherlight h2 {
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 1.5rem;
		color: #777;
		font-weight: bold;
	}
	.featherlight-close-button {
		line-height: 50px;
		width: 280px;
		cursor: pointer;
		text-align: center;
		background: #eceae8;
		color: #000;
		border: 0;
		padding: 0;
		font-size: 1.2rem;
		margin: 0 auto;
		display: block;
	}
	.sq_bdr {
		border: 1px solid #d9710a;
		margin: 0 auto;
		width: 95%;
		padding: 20px;
		text-align: left;
	}
	.on_button {
		display: inline-block;
		width: 80%;
		margin: 0 auto;
		padding: 10px 20px;
		line-height: 20px;
		text-align: center;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		background: #d9710a;
		border-radius: 2px;
	}
	.on_button:hover {
		background: white;
		color: #e2710a;
		text-decoration: none;
		border-radius: 2px;
		border: 2px solid #e2710a;
	}
}


/*		new
===============================================================*/

h2 {
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 28px;
	color: #323232;
	font-weight: bold;
	text-align: left;
}

.form_table.me tbody .ttl_left {
	background: #fff;
}

.form_table.me tbody td,
.form_table.me tbody th {
	border: none;
	padding: 10px 20px;
	color: #323232;
	text-align: left;
}


/*
.section .view, .section img {
	box-shadow: none;
	padding: 0;
}
*/

.section {
	width: 90%;
	margin: 20px auto 40px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #fff;
	height: auto;
}

.form_table tfoot tr:first-child th,
.form_table tfoot tr:first-child td {
	padding-top: 0px;
	padding-left: 0;
	border: none;
}


/*		profile and pass form
===============================================================*/

.form_table.me {
	border: none;
}

.form_table.me tbody th {
	width: 100%;
	border-right: none;
}

.form_table.me tbody td,
.form_table.me tbody th {
	border-left: none;
	text-align: center;
}

.form_table.me tbody label {
	display: block;
	font-weight: bold;
	color: #777;
}

#pass_table tbody input {
	width: 240px;
	font-size: 14px;
	height: 15px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

#profile_table tbody input {
	width: 200px;
	font-size: 14px;
	height: 15px;
}

.form_table.me input[type="file"] {
	font-size: 14px;
}

.form_table.me tbody a {
	font-size: 12px;
	text-decoration: underline;
}

input[type="checkbox"] {
	cursor: pointer;
}

.view {
	height: 30px;
	line-height: 40px;
}

p.edit {
	display: none;
	height: 35px;
}

input.edit_profile {
	text-align: center;
}

input.edit_profile {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0 20px;
	line-height: 39px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	background: #d9710a;
	border-radius: 2px;
	border: 2px solid #d9710a;
}

.form_table.me tbody td,
.form_table.me tbody th {
	border-left: none;
	text-align: left;
}

.form_table.me tbody td.center_posi,
.form_table.me tbody th.center_posi {
	border-left: none;
	text-align: center;
}

.send_pass {
	margin-bottom: 0;
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 28px;
		font-weight: bold;
		color: #333;
	}
	.section {
		margin: 0 auto;
		padding: 5px;
		border: 1px solid #ddd;
		border-radius: 5px;
		background: #fff;
		height: auto;
		width: 100%;
		margin-top: 5%;
	}
}
