@charset "utf-8";

/*------------------------------------------------------------

File_name	: style.css
log			: 2013-07-26	created

-------------------------------------------------------------- */


/*		reorder table
===============================================================*/

table,
td,
th {
	border-collapse: collapse;
	width: 25%;
	/* text-align: center; */
}

td,
th {
	padding: 5px;
	width: 0px;
	height: 25px;
}

.item_info_final {
	/* background: url(../../common/img/dotted.png) repeat-x top; */
	padding: 0 2%;
	display: flex;
}

.final_detail {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	border: 1px solid #a5a5a5;
}

.final_detail td,
th {
	padding: 3px;
	width: 0px;
	height: auto;
	border: 1px solid #a5a5a5;
	border-bottom: none;
	border-top: none;
}

.tabl_ttl {
	background-color: #eceae8;
	border-bottom: 1px solid #a5a5a5;
	font-size: 14px;
	font-weight: bold;
}

.border_t {
	border-top: 1px solid #a5a5a5;
}

.item_info_final_2 {
	padding: 0 2%;
}

.print_info_final {
	border: none;
	width: 100%;
	border: 1px solid #a5a5a5;
	border-top: none;
}

.print_total {
	padding: 1.2%;
}

.print_total_p {
	text-align: right;
	padding-right: 4%;
}

.p_posi {
	padding-left: 4%;
}

.item_name_color {
	text-align: left;
	margin-right: 2%;
	margin-left: 3%;
}

.print_info_final .tabl_ttl_2 {
	font-size: 16px;
	font-weight: bold;
}

.subtotal {
	padding: 2% 4%;
	text-align: right;
	border: 1px solid #a5a5a5;
	border-top: none;
	margin: 0 2%;
	font-weight: bold;
}

.discount_t {
	width: 100%;
	margin: 5% 0;
	border: 1px solid #a5a5a5;
}

.discount_t tr {
	border-bottom: 1px solid #a5a5a5;
}

.discount_t td {
	padding: .6% 2%;
}

.txt_righ {
	text-align: right;
}

.red_txt {
	color: #dc0000;
}

.red_txt_b {
	color: #dc0000;
	font-weight: bold;
	text-align: center;
}

.bold_t {
	font-weight: bold;
}

.big_total {
	font-size: 22px;
	color: #109dd6;
}

.design_t {
	width: 100%;
	margin: 5% 0;
	border: 1px solid #a5a5a5;
}

.design_t td,
th {
	border: 1px solid #a5a5a5;
}

.order_caution {
	text-align: center;
}

.red_big {
	font-weight: bold;
	color: #dc0000;
	font-size: 28px;
}

.mail_img {
	margin: 1%;
	display: flex;
	justify-content: center;
}

.mail_img div {
	width: 130px;
	margin: 2% 2% 0px;
}

.confir_img {
	display: block;
	width: 350px;
	margin: 0 auto;
}

.mid_txt {
	font-size: 28px;
	font-weight: bold;
}

.caution_child {
	margin: 7%;
}

.inter {
	margin: 0 1% 0 3%;
}

.inter_2 {
	margin: 0 1% 0 5%;
}

.print_info_final tbody {
	display: block;
}

.print_info_final .tabl_ttl_2 {
	display: block;
	padding: 3%;
}

.print_info_final tbody .tabl_ttl_2 .print_total,
.print_total_p {
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
}

.tabl_txt {
	font-size: 14px;
}

.design_t .design_dema {
	display: block;
	border: none;
	word-break: break-all;
	width: 100%;
}

.tabl_ttl td {
	word-break: keep-all;
}

/*		reorder_form_list.php table
===============================================================*/
.order_list{
	width: 100%;
	border: 1px solid #a5a5a5;
}
.order_list td{
	border: 1px solid #a5a5a5;
}


/*		color_size_select
===============================================================*/

.color_sele_wrap {
	height: auto;
	display: flex;
	padding: 0% 3% 5%;
	margin-bottom: 1rem;
}

.color_sele {
	width: 65%;
	margin-top: 30px;
	overflow: hidden;
}

ul.color_sele_thumb {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
}

ul.color_sele_thumb li {
	float: left;
	height: 45px;
	width: 45px;
	border: 1px solid #eae7d2;
	margin-right: 4px;
	margin-bottom: 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #eaeaea;
	cursor: pointer;
}

ul.color_sele_thumb li img {
	padding: 10%;
	width: 100%;
}

ul.color_sele_thumb li.nowimg,
ul.color_sele_thumb li.nowimg:hover {
	border: 1px solid #e1630e;
	cursor: default;
	border-radius: 2px;
}

.item_name {
	font-weight: bold;
	font-size: 16px;
}

.item_image_big {
	margin-top: 80px;
}

.size_table {
	margin-bottom: 2em;
	border: none;
	width: 100%;
}

.size_table tr.heading th {
	padding: 15px 0px 0px;
	text-align: center;
	border-bottom: 0px;
	border: none;
}

.size_table th {
	padding-top: 0px;
	padding-right: 20px;
	text-align: right;
	border-bottom: 1px solid #eae7d2;
	border: none;
	font-size: 14px;
}

.size_table td {
	padding-bottom: 2px;
	border-bottom: 1px solid #eae7d2;
}

.size_table input[type=number] {
	width: 5em;
	padding: 2px 5px;
	text-align: right;
}

.btmline {
	width: auto;
	height: auto;
	margin: 10px 0 0 10px;
	padding: 0px 5px 1px;
	text-align: right;
	border-bottom: 1px solid #eae7d2;
}

.cur_amount {
	font-size: 150%;
	padding: 0px 5px 0 15px;
}

.size_sele_wrap {
	padding: 2% 3%;
	margin-bottom: 1rem;
}

.arrow_line,
.crumbs_wrap {
	display: block;
	text-align: center;
}

#tot_amount {
	padding: 0 .2em 0 .5em;
	font-size: 150%;
	font-weight: bold;
	color: #003f75;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
	width: 230px;
	height: 35px;
	border: 1px solid #a5a5a5;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #dddddd;
	background: #f6fbfd;
}

@media screen and (max-width: 768px) {
	.navi_inner_2 {
		width: 49%;
		padding: 0;
		display: inline-block;
	}
	.item_cond {
		float: left;
		margin-top: 3%;
	}
	ul.color_sele_thumb {
		width: 100%;
	}
	/* size_select */
	.sizeprice.size_table table .sizeprice .size_table td,
	.size_table th {
		display: block;
	}
	.sizeprice .size_table {
		margin-bottom: 2em;
		border: none;
		width: 100%;
	}
	.size_table .heading {
		float: left;
		width: auto;
		display: block;
		position: relative;
		left: 30px;
		top: 4px;
	}
	.size_table .heading:nth-child(2) {
		clear: both;
		width: auto;
		display: block;
	}
	.size_table .heading:nth-child(3) {
		clear: both;
		width: auto;
		display: block;
	}
	.size_table .heading:nth-child(4) {
		clear: both;
		width: auto;
		display: block;
	}
	.size_table .heading:nth-child(5) {
		clear: both;
		width: auto;
		display: block;
	}
	.sizeprice .size_table tr.heading th {
		padding: 15px 0px 7px;
		text-align: left;
		border-bottom: 0px;
		font-size: 1em;
		width: auto;
		height: auto;
		margin-top: 5px;
	}
	.size_table tr {
		width: 87%;
		float: left;
		text-align: right;
	}
	.sizeprice .size_table th {
		padding-top: 10px;
		padding-right: 0px;
		font-size: .9em;
		width: auto;
	}
	.sizeprice .size_table td {
		display: block;
		padding-bottom: 2px;
		border-bottom: 1px dotted #eae7d2;
		font-size: 1rem;
		padding: 0;
		height: auto;
		width: auto;
		margin-bottom: 10px;
	}
	.sizeprice .size_table input[type=number] {
		width: 10em;
		padding: 2px 0 0 0px;
		text-align: right;
		font-size: 1.1em;
	}
	.sizeprice .size_table input[type=number] {
		width: 8em;
		padding: 2px 6px 0 0px;
		text-align: right;
		font-size: 1.1em;
	}
	.price_box {
		margin: 10% 2%;
	}
	.price_box_2 {
		margin: 7% 2%;
	}
	.print_re {
		font-size: 16px;
		font-weight: bold;
	}
	.solo_p {
		font-size: 12px;
		margin-bottom: 2%;
	}
	.heading1_wrapper h1 {
		float: none;
		color: #333;
		font-size: 28px;
		text-align: center;
	}
	.print_info_final tbody {
		display: block;
	}
	.print_info_final .tabl_ttl_2 {
		display: block;
		padding: 3%;
	}
	.print_info_final tbody .tabl_ttl_2 .print_total,
	.print_total_p {
		display: block;
		width: 100%;
		height: auto;
		padding: 0;
	}
	.tabl_txt {
		font-size: 14px;
	}
	.design_t .design_dema {
		display: block;
		border: none;
		word-break: break-all;
		width: 100%;
	}
	.tabl_ttl td {
		word-break: keep-all;
	}
}

@media screen and (max-width: 655px) {
	.color_sele_wrap {
		height: auto;
		display: block;
		padding: 0 0% 5%;
		margin-bottom: 1rem;
	}
	.color_sele {
		width: 100%;
		margin-top: 30px;
		overflow: hidden;
	}
	.item_image_big {
		margin-top: 15px;
		text-align: center;
	}
}
/*		category_select
===============================================================*/

.item_top3{
	/*display: flex;*/
	justify-content: space-between;
}
.item_other {
	/*
	display: flex;
	flex-wrap: wrap;
	*/
	justify-content: space-between;
}
.top3_inner,.other_inner{
	cursor: pointer;
}
.top3_inner:hover{
	opacity: .6;
}
.other_inner:hover{
	opacity: .6;
}
.top3_inner{
	border: 1px solid #109dd6;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #a5a5a5;
	text-align: center;
	/*margin: .8%;*/
	padding: 1% 4%;
}
.other_inner {
	border: 1px solid #109dd6;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #a5a5a5;
	text-align: center;
	/*margin: .8%;*/
	padding: 1% 1%;
	/*width: 147px;*/
}
.top3_inner .item_txt_o {
	font-size: 20px;
	font-weight: bold;
	margin-top: 3%;
	margin-bottom: 2%;
}
.top3_o {
	width: 75%;
}
.other_inner .item_txt_o{
	font-size: 16px;
	font-weight: bold;
	margin-top: 3%;
	margin-bottom: 2%;
}
.other_inner.col-6, .top3_inner.col-6 {
	max-width: 49%;
}
@media (min-width: 576px) {
	.top3_inner.col-sm-4,
	.listitems_top3 .col-sm-4 {
		max-width: 32%;
	}
	.other_inner.col-sm-3 {
		max-width: 19%;
	}
	.listitems_other .col-sm-3 {
		max-width: 24%;
	}
	.top3_inner .item_txt_o {
		font-size: 18px;
	}
}

@media screen and (max-width: 880px) {
	.item_name_s .item_name_name {
		height: 40px;
		font-size: .7rem;
		margin-bottom: 3%;
	}
	.listitems_top3 .item_name_s .item_name_name {
		height: 40px;
		font-size: 14px;
		margin-bottom: 3%;
	}
	.item_price {
		font-size: 13px;
		text-align: right;
	}
	label {
		font-weight: normal;
	}
}
/*		item_select
===============================================================*/

.item_image_s .rankno {
	position: absolute;
	width: 60px;
	height: 34px;
}

.item_image_s .item_pic {
	width: 100%;
	height: 100%;
	padding: 3% 10% 0;
}

.item_name_s ul {
	word-break: keep-all;
	word-wrap: break-word;
}

.item_name_s .item_name_name {
	height: 40px;
	font-size: 16px;
	margin-bottom: 3%;
}

.item_name_kata {
	font-weight: normal;
	font-size: 12px;
}
.item_image_s {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 5px 0;
}

.item_name_s {
	margin: 0 5%;
	color: #000;
	font-weight: bold;
}

.point_s {
	font-weight: bold;
	color: #C60;
	font-size: 12px;
	margin: 0 5% 2%;
}

.item_price {
	font-size: 16px;
	text-align: right;
}

.item_color {
	padding: 1% 2%;
	background-color: #a8000e;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	width: 50px;
	text-align: center;
}

.item_size {
	padding: 1% 2%;
	background-color: #a8000e;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	width: 80px;
	text-align: center;
}

.item_info_cs {
	padding: 2% 0 4%;
	text-align: center;
}

.item_review {
	text-align: center;
	padding: 3% 0;
	border-top: 1px solid #109dd6;
}

.listitems_top3 {
	padding: 3% 0 0px;
	clear: both;
	justify-content: space-between;
	/*
	display: flex;
	flex-wrap: wrap;
	*/
}

.listitems_other {
	padding: 10px 0 30px;
	justify-content: space-between;
	/*
	clear: both;
	display: flex;
	flex-wrap: wrap;
	*/
}

.listitems_top3 .listitems {
	border: 1px solid #109dd6;
	margin-top: 1rem;
	/*
	margin-left: 1.3%;
	margin-bottom: 0px;
	*/
	font-size: 70%;
	background: #fff;
	box-shadow: 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	cursor: pointer;
	/*flex: 1;*/
	padding: 0;
	border-radius: 2px;
}

.listitems_other .listitems {
	border: 1px solid #109dd6;
	font-size: 70%;
	background: #fff;
	box-shadow: 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	cursor: pointer;
	padding: 0;
	border-radius: 2px;
	margin-top: 1rem;
}

.listitems:hover {
	opacity: .6;
}
.search_box {
	border: 1px solid #bbbbbb;
	padding: 1px;
	width: 35%;
}

.search_btn {
	display: inline-block;
	padding: 10px 28px;
	background-color: #e5e5e5;
	box-shadow: 1px 1px 1px #a5a5a5;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	color: #000!important;
}

.display_res {
	margin: 0 auto;
	margin-top: 3px;
	display: inline;
	margin-left: 30px;
}
.item_cond {
	float: right;
}
.down_cond {
	font-size: 14px;
	margin-right: 8px;
	width: 200px;
	height: 40px;
	vertical-align: bottom;
}
.txt_min {
	display: inline-block;
	font-size: 14px;
}
.item_img_wrap.col-6.col-sm-12 {
	padding: 0;
	margin: 0;
}
@media (max-width: 576px){
	.item_image_s .item_pic {
		width: 100%;
		height: 100%;
		padding: 3% 10% 0;
		margin-top: 9%;
}
	.item_in {
		display: flex;
		padding: 2% 2% 0 0;
	}
	.item_image_s .item_pic {
		width: 100%;
		height: 100%;
		padding: 3% 10% 0;
		margin-top: 9%;
	}
	.item_review {
		padding: 1.5%;
	}
	.search_box {
		width: 100%;
	}
}


/*		other
===============================================================*/

.caution {
	padding: 5%;
	border-top: 1px solid #d5d5d5;
}
