@charset "utf-8";

/*------------------------------------------------------------

2012 takahama web css

	File_name    : enquete.css
	Description  : enauete form 
	Depend   	 : mailform.css
	
	log
	2012.08.10 created
	2017-11-16 リニューアル後のレイアウト
	2018-03-01 項目変更
	2019-02-26 注釈の表記
	2019-03-14 ファイルアップロード機能を更新
	2019-04-02 Edgeのprogress-bar表示の切り替え
			   Safariのrequire属性のinvalid用スタイルを追加

--------------------------------------------------------------*/



main {
	display: block;
	padding: 5px 20px;
}




/*		message
===============================================================*/
.firstmessage {
	padding: 1em;
	background: #fff;
}
.firstmessage p {
	margin-bottom: 1em;
}




/*		メールフォーム
===============================================================*/
#fileupload > div {
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #d65600;
}
.q {
	padding-left: 1rem;
	margin: 1em 0;
	font-size: 1.4rem;
}
.q em {
	font-size: 2rem;
	display: block;
	text-indent: -1rem;
}
.q em ins {
	text-decoration: none;
	font-size: 1.6rem;
}
.q label {
	font-size: inherit;
	box-sizing: border-box;
}
.q span {
	word-break: keep-all;
}
div.a {
	padding-left: 2rem;
}
.a fieldset {
	margin-bottom: 0;
}
.a legend {
	font-size: 16px;
}
.a label {
	padding-right: .5em;
	font-size: inherit;
	cursor: pointer;
}
.a input[type=radio],
.a input[type=checkbox] {
	width: initial;
	margin: 0 1rem 3px;
	vertical-align: middle;
	transform: scale(1.3, 1.3);
}
.a p {
	line-height: 2.2rem;
}

.note {
	padding-left: 4rem;
	text-indent: -1rem;
	margin-bottom: 1rem;
	font-size: 90%;
	color: rgba(0,0,0,.58);
}
.note ins {
	margin-right: .3rem;
	color: #c33;
	text-decoration: none;
}
.req {
	margin-top: -1.5em;
	text-align: right;
	font-size: 90%;
	color: #f344a6;
	color: #d65600;
}

#fileupload textarea {
	height: 5em;
	background: #f6fbfd;
}

#fileupload #fileupload-table .btn-danger {
	background: #C00;
}




/*		ファイルアップローダー
===============================================================*/
#file-uploader {
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #d65600;
}

.edge_progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 1.5rem;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #3097d1;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	z-index: 2;
}

.e-mailer .placeholder_error {
	border: 1px solid #c33 !important;
	background-color: rgba(204,51,51,.1) !important;
}




/* アップロードされたファイル */
#fileupload #uploaded-files {
	margin: 0;
	padding: 0;
	border: none;
}

/* 顧客情報 */
#number {
	padding: 0 10px 10px 5px;
	text-align: right;
}
#number ins {
	text-decoration: underline;
}

/* 送信・リセット */
p.button_area{
	margin-top: 10px;
	text-align: center;
}
p.button_area input.btn{
	padding: 3px 0px;
	font-size: 150%; 
	cursor: pointer;
}

p.button_area .waves-light{
	background-color: #5a95f5!important;
}



/*		バナー
===============================================================*/
.box_c {
	margin-top: 20px;
	border-radius: 3px;
}
.box_c .bg {
	height: 120px;
	background-image: url(/common/img/banner1.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #eae7d2;
}
@media (max-width: 575px) {
	.box_c .bg {
		height: 10vh;
	}
}

