@charset "utf-8";
.heading1_wrapper {
	width: 100%;
	padding-bottom: 0;
	overflow: hidden;
}
.heading1_wrapper h1 {
	font-size: 40px;
	line-height: 1.8;
	color: #383838;
	font-weight: bold;
}

ul.pan {
	height: auto;
	margin: 20px 5px 20px 5px;
	font-size: 0.8em;
}
ul.pan li {
	display: inline;
	padding-right: 4px;
	line-height: 2em;
}
ul.pan li:first-child:before {
	content: "";
	padding-right: 0;
}
ul.pan li:before {
	content: ">";
	padding-right: 10px;
	vertical-align: middle;
}
ul.pan li a, ul.pan li span {
	vertical-align: middle;
	text-decoration: none;
}
h2.heading {
	padding-bottom: 3px;
	background: url(/common/img/dotted.png) repeat-x left bottom;
	margin: 30px 0px 15px;
	font-size: 20px;
}
.heading3 {
	margin-top: 1em;
	font-size: 18px;
	font-weight: bold;
}
.contents {
	width: 100%;
	float: none;
	margin-top: 20px;
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
}
#container {
	display: block;
	width: 100%;
	margin-top: 125px;
}
ul.msg {
	margin-left: 2em;
}
ul.msg li {
	list-style: disc outside;
}
.fontred {
	color: #dc0000;
}
.note {
	padding-left: 1em;
	text-indent: -1em;
	color: #666;
}
.note span:first-child {
	color: #dc0000;
}
.round_corner_wrapper, .round_corner_wrapper02 {
	position: relative;
	margin: 0px;
	background: #fff;
}
.round_corner_wrapper02 .round_lt {
	height: 15px;
	margin-right: 15px;
	padding-left: 15px;
	background: url(../img/border_round_top02.png) no-repeat left top;
}
.round_corner_wrapper02 .round_rt {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	background: url(../img/border_round_top02.png) no-repeat right top;
}
.round_corner_wrapper02 .round_inner {
	padding: 5px 20px;
	border-left: 2px solid #ffede0;
	border-right: 2px solid #ffede0;
}
.round_corner_wrapper02 .round_lb {
	height: 15px;
	margin-right: 15px;
	padding-left: 15px;
	background: url(../img/border_round_bottom02.png) no-repeat left bottom;
}
.round_corner_wrapper02 .round_rb {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	background: url(../img/border_round_bottom02.png) no-repeat right bottom;
}
form {
	margin-bottom: 60px;
}
#enq_table {
	width: 95%;
	margin: 0 auto;
	border: none;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.point {
	margin: 5px;
	text-align: right;
	color: #dc0000;
}
select, input, textarea, button {
		font-size: 99%;
}
.button_area {
	margin-top: 30px;
	text-align: center;
	padding: 5px 0;
}
.button_area input.btn {
	margin: 0 10px;
	padding: 7px 35px;
	cursor: pointer;
	border-radius: 2px;
	background-color: #e2710a;
	color: white;
}
.round_inner table th, 
.round_inner table td {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.round_inner table th {
	width: 25%;
}
.round_inner table td {
	line-height: 1.6;
}
.round_inner table th label {
	display: inline-block;
}
#enq_table input[type="text"] {
	margin-bottom: 0;
}
#zipcode {
	width: 7rem;
}
.box_c {
	padding-top: 120px;
	margin-top: 20px;
	border: 1px solid #eae7d2;
	background: #fff url(/common/img/banner1.jpg) no-repeat top center;
	border-radius: 3px;
}
.box_c .bg {
	padding: 20px 20px 10px;
}
.bg p {
	padding-bottom: 10px;
}
.box_c span {
	padding-right: 30px;
}
.box_c .bg img {
	vertical-align: text-top;
}
.box_c .bg img {
	vertical-align: text-top;
}
textarea#message{
	height: 5rem;
}
.pc{
	display: block;
}
.sp{
	display: none;
}

@media screen and (max-width: 740px) {
table, tbody, thead, tfoot, tr, th, td {
	display: block;
}
.round_inner table th, .round_inner table td {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	width: 100%;
}
	.pc{
		display: none;
	}
	.sp{
		display: block
	}
}
