	@charset "utf-8";

/*------------------------------------------------------------

File_name	: thanks.css
log			: 2017-12-18	created

-------------------------------------------------------------- */
#container {
	width: 100%;
}

.contents {
	width: 100%;
	float: none;
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}
.toolbar {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	z-index: 1000;
	margin-top: 30px;
}
.toolbar .toolbar_inner h1 {
	text-align: center;
}
#main img {
	width: 60%;
	margin: 20px auto;
}

#main p {
	text-align: center;
}

.txt {
	width: 85%;
	display: block;
	margin: 0 auto;
}
#main img {
	width: 60%;
	margin: 20px auto;
	display: block;
}
#main p#thanks {
	font-size: 18px;
}

#main p span {
	font-weight: bold;
}

.btn_or {
	background-color: #D97109;
	color: white;
	text-align: center;
	padding: 17px;
	width: 300px;
	font-size: 14px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #a5a5a5;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	cursor: pointer;
}

@media screen and (max-width: 592px) {
	#main p {
		text-align: left;
	}
	#main p#thanks {
		text-align: center;
	}
	#main img {
		width: 100%;
		margin: 20px auto;
	}
